* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 30px;
  padding: 20px 70px 20px 32px;
  background-color: #fff;
  z-index: 99;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 28px;
  padding: 0;
  width: 20px;
  height: 17px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 20px;
  background: #1f2022;
}

.logo-header {
  margin-right: 59px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 830px;
  width: 50%;
  margin-right: 40px;
  padding-right: 17px;
  background: #ebebeb;
  border-radius: 22px;
}

.input-search {
  width: 100%;
  padding: 12px 0 12px 23px;
  background-color: transparent;
  border: none;
}

.mobile-search {
  display: none;
}

.btn-search {
  width: 19px;
  height: 19px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon-search {
  fill: #000;
}

.icons-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icons-link {
  text-decoration: none;
  opacity: 24%;
  cursor: pointer;
}

.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user-link {
  margin-left: 40px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobile-sidebar {
  display: none;
}

.sidebar {
  position: fixed;
  width: 200px;
  top: 114px;
  left: 0;
  height: calc(100% - 114px);
  padding: 0 0 0 32px;
  overflow-y: auto;
  background-color: #fff;
}

.content {
  width: 100%;
  min-height: 400px;
  margin: 85px 0 0 0;
  padding: 30px 70px 0 250px;
}

.channel {
  position: relative;
  margin: 0 0 50px 0;
}

.channel-title {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
  text-decoration: none;
}

.channel-avatar {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
  border-radius: 50%;
}

.channel-button {
  cursor: pointer;
}

.nav-menu {
  margin: 0 0 60px 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 28px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff0000;
}

.nav-link:hover .icon {
  fill: #ff0000;
}

.nav-item .icon {
  fill: #898989;
}

.nav-text {
  margin: 0 0 0 14px;
}

.nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.nav-title {
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.video-thumb {
  position: relative;
  width: 100%;
  height: 150px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
}

.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 9px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 30%);
  mix-blend-mode: normal;
  border-radius: 12px;
}

.video-title {
  margin: 10px 0 4px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
}

.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.video-views::after {
  display: inline-block;
  content: " ";
  width: 2px;
  height: 2px;
  vertical-align: middle;
  background-color: #c2c2c2;
  margin: 0 0 0 5px;
}

.slider-buttons {
  position: absolute;
  top: 8px;
  right: 149px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}

@media (max-width: 1200px) {
  .slider-buttons {
    right: 0;
  }
}

.video-thumb-recommended {
  position: relative;
  height: 250px;
}

.video-duration-recommended {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 860px) {
  .icons-menu {
    display: none;
  }
}

@media (max-width: 640px) {
  .content {
    padding: 0 70px 20px 32px;
  }
  .user-link {
    margin-left: 0;
  }
  .user-avatar {
    margin-left: 24px;
  }

  .menu-button {
    display: none;
  }
  .sidebar {
    display: none;
  }

  .mobile-sidebar {
    display: block;
    width: 100%;
    background-color: #fff;
    z-index: 99;
  }

  .mobile-sidebar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 13px 0 11px 0;
    border-top: 1px solid #f1f1f1;
  }

  .mobile-sidebar .nav-link {
    display: flex;
    flex-direction: column;
  }

  .nav-text {
    margin-left: 0;
    font-size: 10px;
    line-height: 13px;
  }

  .slider-buttons {
    display: none;
  }

  .channel:nth-child(3) {
    position: relative;
    margin: 0 0 15px 0;
  }

  .nav-item {
    margin: 0;
  }

  .mobile-search {
    display: block;
    margin-left: auto;
  }

  .input-group {
    position: fixed;
    opacity: 0;
    top: -100px;
    left: 0;
    width: 70%;
    margin: 0 0 0 25px;
    transition: top 0.2s;
  }

  .input-group.is-open {
    opacity: 1;
    top: 20px;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }

  .swiper-slide {
    margin: 0 0 40px 0;
  }

  .video-thumb {
    height: 200px;
  }
}

.channel:nth-child(3) {
  position: relative;
}

.channel-subscribe-btn {
  position: absolute;
  top: 0;
  right: 270px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
  background-color: #ff0000;
  border: none;
  outline: none;
  cursor: pointer;
}
