* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
}

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 30px;
  padding: 20px 70px 20px 32px;
  background-color: #fff;
  z-index: 99;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 28px;
  padding: 0;
  width: 20px;
  height: 17px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 20px;
  background: #1f2022;
}

.logo-header {
  margin-right: 59px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 830px;
  width: 50%;
  padding-right: 17px;
  background: #ebebeb;
  border-radius: 22px;
}

.input-search {
  width: 100%;
  padding: 12px 0 12px 23px;
  background-color: transparent;
  border: none;
}

.btn-search {
  width: 19px;
  height: 19px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon-search {
  fill: #000;
}

.icons-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icons-link {
  text-decoration: none;
  opacity: 24%;
  cursor: pointer;
}

.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user-link {
  margin-left: 40px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar {
  position: fixed;
  top: 114px;
  left: 0;
  width: 12%;
  height: calc(100% - 114px);
  padding: 0 0 0 32px;
  overflow-y: auto;
  background-color: #fff;
}

.content {
  width: 100%;
  min-height: 400px;
  margin: 85px 0 0 0;
  padding-top: 30px;
  padding-left: 13%;
}

.channel {
  position: relative;
  margin: 0 0 50px 0;
}

.channel-title {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
  text-decoration: none;
}

.channel-avatar {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
  border-radius: 50%;
}

.channel-button {
  cursor: pointer;
}

.nav-menu {
  margin: 0 0 60px 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 28px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #898989;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff0000;
}

.nav-link:hover .icon {
  fill: #ff0000;
}

.nav-item .icon {
  fill: #898989;
}

.nav-text {
  margin: 0 0 0 14px;
}

.nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.nav-title {
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.video-card {
  width: 250px;
}

.video-thumb {
  position: relative;
  width: 250px;
  height: 150px;
}

.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 9px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background: rgba(0, 0, 0, 30%);
  mix-blend-mode: normal;
  border-radius: 12px;
}

.video-title {
  margin: 10px 0 4px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
}

.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.video-views::after {
  display: inline-block;
  content: " ";
  width: 2px;
  height: 2px;
  vertical-align: middle;
  background-color: #c2c2c2;
  margin: 0 0 0 5px;
}

.slider-buttons {
  position: absolute;
  top: 15px;
  right: 149px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}

.video-card-recommended {
  width: 525px;
}

.video-thumb-recommended {
  position: relative;
  width: 525px;
  height: 250px;
}

.video-duration-recommended {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
